@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&display=swap');

/* || REST */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* || VARIABLES */
:root {
    /* COLORS */
    --MAIN-BG: #0A0C1C;
    --MULTIPLY-BG: #AB5CDB;
    --CARD-BG: #1B1937;
    --TITLE-CLR: #FFFFFF;
    --TITLE-SPAN-CLR: #AB5CDB;
    --DESCRIPTION-CLR: hsla(0, 0%, 100%, 0.75);
    --STATS-VALUE-CLR: #FFFFFF;
    --STATS-CATEGORY-CLR: hsla(0, 0%, 100%, 0.60);

    /* SHADOW */
    --CARD-SHADOW: 0px 20px 20px -10px hsla(233, 28%, 13%, 0.2031);

    /* TYPOGRAPHY */
    --FF1: "Inter", sans-serif;
    --FF2: "Lexend Deca", sans-serif;

    /* TYPOGRAPHY - SHARED */
    --DESCRIPTION-SHARED: normal .9375rem/1.5625rem var(--FF1);
    --STATS-VALUE-SHARED: bold 1.5rem var(--FF1);
    --STATS-CATEGORY-SHARED: normal .75rem/1.5625rem var(--FF2);
    --STATS-CATEGORY-LS-SHARED: .0625rem;

    /* TYPOGRAPHY - MOBILE */
    --TITLE-MOB: bold 1.75rem/2rem var(--FF1);

    /* TYPOGRAPHY - DESKTOP */
    --TITLE-DSK: bold 2.25rem/2.75rem var(--FF1);
}

/* || UTILITY CLASSES */
.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.responsive-image {
    display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    background-color: var(--MAIN-BG);
    display: grid;
    place-content: center;
}

h1,
h2 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: normal;
}

/* STATS-CARD */
.stats-card {
    width: 327px;
    min-height: 780px;
    background-color: var(--CARD-BG);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--CARD-SHADOW);
    margin: 5.5rem 1.5rem;
}

.stats-card__hero-image {
    background-color: var(--MULTIPLY-BG);
    width: 327px;
    height: 240px;
}

.stats-card__hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
}

.stats-card__content {
    padding: 2.5rem 1.9688rem 2rem 1.9375rem;
}

.stats-card__title {
    font: var(--TITLE-MOB);
    color: var(--TITLE-CLR);
    margin-bottom: 1rem;
    max-width: 264px;
}

.stats-card__title span {
    color: var(--TITLE-SPAN-CLR);
}

.stats-card__description {
    font: var(--DESCRIPTION-SHARED);
    color: var(--DESCRIPTION-CLR);
    margin-bottom: 2.5rem;
    max-width: 264px;
}

.stats-card__stats-group {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1.5rem;
}

.stats-card__stat-value {
    font: var(--STATS-VALUE-SHARED);
    color: var(--STATS-VALUE-CLR);
    margin-bottom: .125rem;
}

.stats-card__stat-category {
    font: var(--STATS-CATEGORY-SHARED);
    letter-spacing: var(--STATS-CATEGORY-LS-SHARED);
    color: var(--STATS-CATEGORY-CLR);
    text-transform: uppercase;
}

@media screen and (min-width: 992px) {
    .stats-card {
        width: 1110px;
        min-height: 446px;
        margin: auto 10.3125rem;
        display: flex;
        flex-flow: row-reverse;
    }

    .stats-card__hero-image {
        width: 540px;
        height: 446px;
    }

    .stats-card__mobile-hero {
        display: none;
    }

    .stats-card__desktop-hero {
        display: block;
    }

    .stats-card__content {
        padding: 4.4375rem 5.9375rem 3.6875rem 4.4688rem;
    }

    .stats-card__title {
        font: var(--TITLE-DSK);
        margin-bottom: 1.5625rem;
        text-align: left;
        max-width: 403px;
    }

    .stats-card__description {
        margin-bottom: 4.5rem;
        max-width: 374px;
        text-align: left;
    }

    .stats-card__stats-group {
        flex-flow: row;
        gap: 0px;
        justify-content: space-between;
        width: 351.5px;
    }

    .stats-card__stat-value {
        text-align: left;
        text-align: left;
    }

    .stats-card__stat-category {
        text-align: left;
    }
}